.headerWrapper {
  height: 8vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#505050, #5a5a5a);
}
.logo {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  object-fit: fill;
}
.navMenu {
  width: 80vw;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.navButtonsWrapper {
  display: inline-flex;
  margin-right: 5%;
}
.NavButton {
  padding: 0 15px;
}
a {
  color: white;
}
a:hover {
  color: #ffae3c;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .headerWrapper {
    all: unset;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    background-image: linear-gradient(#505050, #5a5a5a);
  }
  .logo {
    all: unset;
    height: 50px;
    text-align: center;
  }

  img {
    min-width: 60%;
    min-height: 100%;
  }
  .navMenu {
    all: unset;
  }

  .navButtonsWrapper {
    all: unset;
    display: inline-flex;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
  .NavButton {
    font-size: 5vw;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
